

    #files {
        height:     100%;
        width:      100%;
        overflow:   auto;
    }

    #files table tbody tr {
        cursor:     pointer;
    }

    #files table tbody tr td {
    }

    #files table tbody tr td i {
    }

    #files table tbody tr td .name {
        font-size:  32px;
        margin:     40px;
    }



