

    #breadcrumb {
        position:       absolute;
        height:         68px;
        width:          100%;
        transition:     0.75s;
        overflow:       hidden;
    }

    #breadcrumb.hidden {
        height:         0px;
        width:          100%;
    }

    #breadcrumb .nav-wrapper {
        margin: 0 25px 0 25px;
    }




    #breadcrumb-spacer {
        height:         55px;
        width:          100%;
        transition:     0.75s;
        overflow:       hidden;
    }

    #breadcrumb-spacer.hidden {
        height:         0px;
        width:          100%;
    }


