

    #files {
        height:             100%;
        width:              100%;
        overflow:           auto;
        transition:         0.5s;
    }

    #files .loading {
        height:             200px;
        overflow:           hidden;
        transition:         1s;
    }

    #files .loading .progress {
        height:             100px;
    }

    #files .loading.hidden {
        height:             0px;
    }

    #files table tbody tr {
        cursor:             pointer;
    }

    #files table tbody tr.script-selected {
        background-color:   #b2ebf2;
    }

    #files table tbody tr.script-selected-child {
    }

    #files table tbody tr.script-selected-error {
        background-color:   tomato;
    }

    #files table tbody tr.script-selected td.script:hover {
        color:              red;
    }

    #files table tbody tr.script-selected-child td.script:hover {
        background-color:   #b2ebf2;
        color:              black;
    }

    #files table tbody tr.script-selected-error td.script:hover {
        background-color:   tomato;
        color:              black;
    }

    #files table tbody tr td {
        vertical-align:     middle;
    }

    #files table tbody tr td.icon {
        width:              10%;
    }

    #files table tbody tr td.name {
        font-size:          20px;
        margin:             40px;
        width:              65%;
    }

    #files table tbody tr td.size {
        width:              15%;
        text-align:         center;
    }

    #files table tbody tr td.size .progress {
        display:            inline-block;
    }

    #files table tbody tr td.script {
        width:              10%;
        text-align:         center;
        height:             5px;
    }

    #files table tbody tr td.script.hidden {
        display:            none;
    }

    #files table tbody tr td.script-add:hover {
        color:              green;
        background-color:   #b2ebf2;
    }



