

    #files {
        height:             100%;
        width:              100%;
        overflow:           auto;
        transition:         0.5s;
    }

    #files table tbody tr {
        cursor:             pointer;
        width:              100%;
    }

    #files table tbody tr td {
        vertical-align:     middle;
        transition:         2s;
    }

    #files table tbody tr td i {
    }

    #files table tbody tr td.icon {
        width:              5%;
    }

    #files table tbody tr td.name {
        font-size:          20px;
        margin:             40px;
        width:              85%;
    }

    #files table tbody tr td.size {
        width:              10%;
        text-align:         center;
    }

