



    #nav {
    }

    #nav #nav-toggle-path {
    }

    #nav .title {
        font-size:              24px;
        margin:                 0 0 0 10px;
        user-select:            none;
    }


    #nav #nav-toggle-script:hover {
        background-color:       #00acc1 !important;
    }


    #nav #nav-display-script {
        width:                  150px;
        text-align:             center;
        overflow:               hidden;
        transition:             0.6s;
        font-size:              18px;
    }

    #nav #nav-display-script.hidden {
        width:                  0px;
        font-size:              0px;
    }


    #nav #nav-toggle-script-empty.hidden {
        width:                  0px;
        font-size:              0px;
        display:                none;
    }


    #nav #nav-toggle-script-export {
        overflow:               hidden;
    }

    #nav #nav-toggle-script-export:hover a {
        background-color:       #00acc1 !important;
    }

    #nav #nav-toggle-script-export.hidden {
        width:                  0px;
        font-size:              0px;
        display:                none;
    }




    #nav-export {
        height:                 100%;
        width:                  100%;
        background-color:       red;
        overflow:               hidden;
    }

    #nav-export.hidden {
        height:                 0%;
    }




