

    #nav {
    }

    #nav #nav-toggle-path {
    }

    #nav .title {
        font-size: 24px;
        margin: 0 0 0 10px;
        user-select: none;
    }


    #nav #nav-display-script {
        width:          150px;
        text-align:     center;
        overflow:       hidden;
        transition:     0.6s;
        font-size:      18px;
    }

    #nav #nav-display-script.hidden {
        width:          0px;
        font-size:      0px;
    }


    #nav #nav-display-script-export {
        overflow:       hidden;
    }

    #nav #nav-display-script-export.hidden {
        width:          0px;
        font-size:      0px;
    }


