



    #script-export {
        height:             100%;
        width:              100%;
        overflow:           auto;
        transition:         0.75s;
        background-color:   #2b2b2b;
    }

    #script-export.hidden {
        height:             0%;
    }




    #script-export nav {
        background-color:   #2b2b2b;
        width:              100%;
        height:             64px;
        overflow:           hidden;
    }

    #script-export nav .left {
    }

    #script-export nav .left input {
        height:             62px;
        padding:            0px 0px 0px 10px;
        width:              400%;
        font-size:          30px;
        color:              #00acc1;
        border-bottom:      0.5px solid #00acc1;
    }

    #script-export nav .right li a {
        transition:         0.4s;
    }

    #script-export nav .right li a:hover {
        color:              #00acc1;
    }

    #script-export nav .right li a i {
        padding:            2.5px 0 0 0;
        font-size:          35px;
    }




    #script-export .script {
        color:              #00acc1;
    }

    #script-export .script input {
        font-size:          24px;
        border:             none;
        border-right:       0.5px solid #00acc1;
    }

    #script-export .script textarea {
        font-size:          24px;
        border:             none;
        border-right:       0.5px solid #00acc1;
    }

    #script-export .script .extra textarea {
        min-height:         150px;
    }

    #script-export .script .path {
    }

    #script-export .script .path .ix {
        width:              50%;
        float:              left;
    }

    #script-export .script .path .ix input {
        text-align:         center;
    }

    #script-export .script .spacer textarea {
        height:             100px;
    }



