



    #script-export {
        height:             100%;
        width:              100%;
        overflow:           hidden;
        transition:         0.75s;
    }

    #script-export.hidden {
        height:             0%;
    }

    #script-export i {
        color:              black;
    }



