

    #search {
        height:         225px;
        width:          100%;
        transition:     0.75s;
    }

    #search.hidden {
        height:         0px;
        overflow:       hidden;
        float:          left;
    }

    #search .row {
        margin:         25px 0 25px 0;
        padding:        40px;
    }
    #search .row input {
        width:          100%;
        font-size:      20px;
    }
    #search.hidden .row input {
        width:          0%;
    }


    #search .e200 { border-bottom: 1px solid green; }
    #search .e400 { border-bottom: 1px solid red;   }


