

    html, body {
        height: 100%;
        width:  100%;
    }

    #pholder {
        min-height: 98%;
        width:  100%;
        overflow: auto;
    }

    #footer {
        position: relative;
    }

    *::-webkit-scrollbar {
        display: none; 
    }


