

    html, body {
        height:             100%;
        width:              100%;
    }

    #pholder {
        width:              100%;
        min-height:         98%;
        overflow:           auto;
    }

    #footer {
        position:           relative;
    }

    *::-webkit-scrollbar {
        display:            none;
    }


